

.quiz-viewr .header-figure img{
    width: 100%;
    height: 142px;
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    object-fit:cover;
}


.quiz-viewr .header-figure p{
    position: absolute;
    top: calc(69px + 31px);
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.level-box{
    position: relative;
    background-color: white;
    height: 436px;
    width: 375px;
    top: calc(200px);
    margin-bottom: 20px;
}

.level-box .title-box{
    height: 89px;
    width: 340px;
}



.level-box .figures img{
    height: 113px;
    width: 163px;
}

.level-box .figures.figure-answer img{
    height: 100%;
    width: 100%;

}

.level-box .figures div{
    margin: 10px;
    width: 163px;
}

.level-box.result-card{
    height: 500px;
    width: 375px;    
}

.level-box.result-card .title-box{
    height: 99px;
    width: 340px;    
}

.level-box.result-card .figures .figure img{
    height: 255px;
    width: 340px;    
}

.level-box.result-card .figures div{
    margin: 10px;
    width: 340px;
}


.level-box .figures p{
    margin: 2px;
}

.buttons{
    margin-top: 220px;
    margin-bottom: 110px;
    position: relative;
}
.buttons button{
    border: none;
}

@media only screen and (min-width: 768px) {

    .figure, button{
        cursor: pointer;
    }

    .level-box{
        width: 759px;
        height: 676px;
    }

    .level-box .title-box{
        width: 688px;
        height: 137px;
    }

    .level-box .figures {
        justify-content: center;
    }

    .level-box .figures img{
        height: 175px;
        width: 329px;
    }
    
    .level-box .figures.figure-answer img{
        height: 100%;
        width: 100%;
    }
    
    .level-box .figures div{
        margin: 10px;
        width: 329px;
    }
    

    .level-box.result-card{
        height: 430px;
        width: 759px;    
    }
    
    .level-box.result-card .title-box{
        height: 99px;
        width: 727px;    
    }

    
    .level-box.result-card .figures .figure img{
        height: 273px;
        width: 364px;    
    }
    
    .level-box.result-card .figures{
        width: 727px;   
    }

    .level-box.result-card .figures .figure{
        width: 727px;   
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .level-box.result-card .figures .figure p{
        margin: 10px; 
    }

  }