
/* ----- */
header{
position: fixed;
width: 100%;
height: 69px;
left: 0px;
top: 0px;
z-index: 2;
}

body {
    /* overflow: hidden; */
    background-color: #fafafa;
}

main{
    margin-top: calc(69px + 31px);
    margin-left: 18px;
    margin-right: 18px;
}


.new-quiz{
    height: 181px;
    padding: 25px;
    text-align: center;
}


.quiz-card{
    height: 181px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 14px;
}

.quiz-card img{
    width: 100%;
    height: 181px;
    border-radius: 5px;
    position: absolute;
    object-fit:cover;
}
.quiz-card p{
    z-index: 1;
    left: 18px;
    right: 18px;
    bottom: 0px;
    position: absolute;
}

